asgiref
attrs
bcrypt
Django
django-phonenumber-field
django-restframework
djangorestframework
djangorestframework-simplejwt
drf-spectacular
inflection
jsonschema
jsonschema-specifications
phonenumbers
Pillow
PyJWT
python-dotenv
pytz
PyYAML
referencing
rest-framework-simplejwt
rpds-py
sqlparse
typing_extensions
tzdata
uritemplate
